body{
    text-align:center;
    background:#fff0f5;
    font-family:Arial;
}

.products{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.product{
    background:white;
    width:250px;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

button{
    background:#d63384;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}
